p {
  text-align: justify;
  text-justify: inter-word;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  z-index: 0;
  background-color: black;
}
.banner {
  width: 100%;
  height: auto
  z-index: 0;
  position: relative;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-align: center;
  color: white;
  filter: brightness(200%);
}
.summary {
    color: white;
    z-index: 1;
    position: relative;
    padding: 5px 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0 50px;
  overflow: hidden;
  background-color: black;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #21292e;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #e2e1e1;}

.dropdown:hover .dropdown-content {
  display: block;
}%
